@model List<Dauti.DataModel.ProductCategory>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPageDauti.cshtml";
}

<div class="home content">
    <div class="slide">
        <a target="_self" href="recetasd8da.html?cat=recetas" class="img" style="background-image: url(../@Url.Content("template")/config/img/files/puter.png)"></a>
        <a target="_self" href="recetasd8da.html?cat=recetas" class="img" style="background-image: url(../@Url.Content("template")/config/img/files/ovako.png)"></a>
        <a target="_self" href="recetasd8da.html?cat=recetas" class="img" style="background-image: url(../@Url.Content("template")/config/img/files/amadori.png)"></a>
        <a target="_self" href="recetasd8da.html?cat=recetas" class="img" style="background-image: url(../@Url.Content("template")/config/img/files/malizia.png)"></a>
    </div>
    <div class="slideNav"></div>
    <h4 class="block-title"><span>L A J M E</span></h4>
    <div class="random wbase" style="width: 1022px;">

        <div class='news-wrapper' style="width: 360px; height: 160px; float:left;">
            <!--******************************-->
            <div id='mainNews-container'>
                <img src="../@Url.Content("template")/config/img/xhema.jpg" width="360" />
                <div id='news-blur'>
                    <h2 class='mainNews-title'>Xhemail Dauti në trajnimin për zhvillimin e aftësive për punësim</h2>
                </div>
            </div>
            <!--******************************-->
        </div>
        <div class="sep"></div>

        <div class='news-wrapper' style="width: 310px; height: 200px; float:left;">
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/audio1-120x76.jpg">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/ipad.png">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/audio1-120x76.jpg">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->

        </div>
        <div class="sep"></div>

        <div class='news-wrapper' style="width: 310px; height: 200px; float:left;">
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/ipad.png">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/audio1-120x76.jpg">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->
            <!--******************************-->
            <div class='news-list'>
                <img src="../@Url.Content("template")/config/img/ipad.png">
                <div class='news-right'>
                    <a class='news-title' href="">The iPad for poor people has arrived..</a>
                    <p class='news-date'>May 3, 2014</p>
                </div>
            </div>
            <!--******************************-->
        </div>
        <div class="sep"></div>
        <div class="clear"></div>
        
    </div>
    <div class="line1"></div>
    <table class="marcas">
        <tr>
            <td width="30"><a href="javascript:" class="ant"></a></td>
            <td>
                <div class="slide">
                    <div class="box">
                        <div class="gm" style="float: left;">
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/1.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/2.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/3.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/4.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/5.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/6.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/7.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/8.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/9.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/10.gif" height="45" />
                            </a>
                        </div>
                        <div class="gm" style="float: left;">
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/1.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/2.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/3.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/4.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/5.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/6.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/7.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/8.png" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/9.jpg" height="45" />
                            </a>
                            <a class="marca" target="_self" href="marcas120a.html?cat=compotas&amp;m=141&amp;t=1">
                                <img src="../@Url.Content("template")/config/img/10.gif" height="45" />
                            </a>
                        </div>
                    </div>
                </div>
            </td>
            <td width="30"><a href="javascript:" class="sig"></a></td>
        </tr>
    </table>
</div>
<div class="pie">
    <div class="logo">
        <img src="../@Url.Content("template")/images/dautikomerc.png" width="190" style="margin-left:-45px;" />
    </div>
    &copy; Copyright 2014, All Rights Reserved.<br />
    Developed by Enes Demiri
</div>

@section scripts{
<script type="text/javascript">
    sla = 100;
    sls = 0;
    function slide(det) {
        if (det == 'a')
            sla--;
        else if (det == '')
            sla++;
        else
            sla = det;
        if (det == 'a' && sla < 0)
            sla = $('.home .slide .img').size() - 1;
        else if (sla >= $('.home .slide .img').size())
            sla = 0;
        $('.home .slideNav .poi').removeClass('sel');
        $('.home .slideNav .poi:eq(' + sla + ')').addClass('sel');
        $('.home .slide .img').css('z-index', '0');
        $('.home .slide .img:eq(' + sla + ')').fadeOut(0).css('z-index', '111').fadeIn(800, function () {
            sls++;
            setTimeout(function () {
                if (sls <= 1) {
                    slide('');
                    sls--;
                } else
                    sls--;
            }, 2000);
        });
    }
    $(function () {
        slnavpois = '';
        for (i = 0; i < $('.home .slide .img').size() ; i++) {
            slnavpois += '<a href="javascript:" class="poi" det="' + i + '"></a>';
        }
        slnavhtml = '<a href="javascript:" class="ant"></a>' + slnavpois + '<a href="javascript:" class="sig"></a>';
        $('.home .slideNav').html(slnavhtml).css('margin-left', '-' + ($('.home .slideNav').width() / 2) + 'px');
        slide('');
        $('.home .slideNav .ant').click(function () {
            slide('a');
        });
        $('.home .slideNav .poi').click(function () {
            slide($(this).attr('det'));
        });
        $('.home .slideNav .sig').click(function () {
            slide('');
        });
        $('.home .random .o').hover(function () {
            if ($(this).attr('ov')) {
                img = $(this).attr('ov');
                $(this).find('img').attr('src', img);
            }
        }, function () {
            if ($(this).attr('ov')) {
                img = $(this).attr('es');
                $(this).find('img').attr('src', img);
            }
        });
        slidemarcas('.home');
    });
</script>
<script>
    $(function () {
        $("a[rel^='prettyPhotoM']").prettyPhoto({
            markup: '<div class="pp_pic_holder"> \
      <div class="ppt">&nbsp;</div> \
      <div class="pp_content_container"> \
       <div class="pp_left" style="background:none;"> \
       <div class="pp_right" style="background:none;"> \
        <div class="pp_content" style="background:none;"> \
         <div class="pp_loaderIcon"></div> \
         <div class="pp_fade"> \
          <a href="#" class="pp_expand" title="Expand the image">Expand</a> \
          <div class="pp_hoverContainer"> \
           <a class="pp_next" href="#">next</a> \
           <a class="pp_previous" href="#">previous</a> \
          </div> \
          <div id="pp_full_res"></div> \
          <div class="pp_details"> \
           <div class="pp_nav"> \
            <a href="#" class="pp_arrow_previous">Previous</a> \
            <p class="currentTextHolder">0/0</p> \
            <a href="#" class="pp_arrow_next">Next</a> \
           </div> \
           <p class="pp_description"></p> \
           <div class="pp_social">{pp_social}</div> \
          </div> \
         </div> \
        </div> \
       </div> \
       </div> \
      </div> \
     </div> \
     <div class="pp_overlay"></div>', social_tools: ''
        });
    });
    function tenderotyc(det) {
        $.prettyPhoto.close();
        if (det == 0) {
            setTimeout(function () { $.prettyPhoto.open('tenderotyc823a.html?iframe=true&amp;width=800&amp;height=500', '', ''); }, 500);
        } else if (det == 1) {
            setTimeout(function () { $.prettyPhoto.open('tendero823a.html?iframe=true&amp;width=800&amp;height=500', '', ''); }, 500);
        }
    }
</script>

}